body {
  background-color: #edffec;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #66BFBF;
  border-width: 8px;
  width: 5%;
}

img {
  height: 230px;
}
img:hover {
  background-color: grey;
}

h1 {
  color: #66BFBF
}

h3 {
  color: #66BFBF
}
h2 {
  color: #66BFBF
}
